<div class="nav-containter">
  <div id="logo"><img src="http://www.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png" alt=""></div>
	
	   <div class="toggle">
        <div id="hamburger" (click)="open($event)">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>

  <ul>
  	<li class="list-item"><a href="">Services</a></li>
  	<li class="list-item"><a href="">News</a></li>
  	<li class="list-item"><a href="">Government</a></li>
  	<li class="list-item"><a href="">Local</a></li>
  </ul>
</div>
