<app-navbar></app-navbar>

<section>
  <div class="container">
    <div class="container-gradient">
      <div id="slogan">
        <h2>The official website of new york state</h2>
      </div>
    </div>
  </div>
</section>

<!-- Card Area -->
<section id="card-area">
  <div class="header-area">
  	<h2>Now in</h2>
  	<h3>Albany, NY</h3>
  	<div class="change-location">Change Location</div>
  </div>
</section>

<!-- Featured Area -->
<app-featured></app-featured>


<section id="connect">Connect</section>
<section id="footer"></section>
