<app-navbar></app-navbar>
<!-- Intro Area -->
<section id="intro">

  <div id="slogan">
    <h2>The official website of new york state</h2>
  </div>

  <div class="container">

    <div class="wrapper">
      <div class="gradient"></div>
    </div>

    

  </div> <!-- Wrapper-->
	<div class="info">
      <div class="title">
        <h2>{{title}}</h2>
      </div>
      <div class="date">July, 24th, 2017</div>
      <div class="summary">{{summary}}</div>
      <div class="learn-more">
        <p>Learn More</p>
      </div>
    </div>
  <!--<div class="overlay"></div>-->
</section>
<!-- Card Area -->
<app-local></app-local>
<!-- Featured Area -->
<app-featured></app-featured>

<section id="footer"></section>
