<div class="container">

  <div class="header">
    <h2 class="title">Featured</h2>
    <h3 class="subtitle">This Week</h3>
  </div>

  <div class="content">
    <div class="card" *ngFor="let card of cards">
    	<span class="category">{{card.category}}</span>
    	<div class="image">Background image</div>
    	<div class="card-info">
    	<div class="card-title"><h3>{{card.title}}</h3></div>
    	<div class="card-content">{{card.content}}</div>
    	</div>
  	<div class="card-footer">Share</div>
  </div>

</div>
